* {
	box-sizing: border-box;
}
body {
	background-image: url("images/theWall.jpg");
	font-family: 'Shadows Into Light', cursive;
}
header, article, form {
	text-align: center;
}

button {
	padding: 5px 40px;
	border-radius: 10px;
	border: 10px solid black;
 	border-width: 5px;	
    border-style: groove;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Shadows Into Light', cursive;
	background-image: url("images/DSM.jpg");
	background-size: 80px 60px;
	color: white;
	background-color: black;
	background-repeat: repeat-y;
	background-repeat: repeat-y;
	padding-right: 20px
}

button:hover {
	cursor: pointer;
	background-image: url("images/theWall.jpg");
	color: black;
	background-repeat:repeat;
	background-size: 200px 200px;
}

h1 {
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 60px;
}

p {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.intro {
	border: 1px solid black;
 	border-width: 5px;	
    border-style: groove;
    width: 500px;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 10px;
}

.pageStructure, .finalPage {
  	display: none;
  	text-align: left;
  	margin: 0 auto;
  	width: 400px;
  	padding-top: 20px;
  	border: 1px solid black;
 	border-width: 5px;	
    border-style: groove;
    width: 800px;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 30px;
}

.js-nextButton {
	display: block;
	margin: 0 auto;
}

.js-question {
	padding-left: 40px;
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

.js-message {
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li {
	padding: 10px 0px 10px 30px;
}

.js-message, .finalPage {
	padding-left: 30px;
}


@media screen and (max-width: 480px) {
  header, article {
  	max-width: 100%;
  }
  .pageStructure, .finalPage {
  	max-width: 100%;
  }
}
